#header {
    display: flex;
    height: 100px;
    background-color: #fafafa;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    border: 1px solid #e9e9ea;
    font-size: 18px;
    background-size: cover;
}
#header #title {
    margin: 10px 0px 0px -800px;
    flex: 2;
}
#header h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

#header #user-info {
    margin: 90px 0px 0px 0px;
    font-size: 12px;
    text-align: left;
    font-weight: 200;
    flex: 0.8;
}

#user-info {
    margin-bottom: 5px;
}