body {
    line-height: 1;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.transparent {
    background:#191919;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
}


#sidemenu {
    margin-left: 70px;
    padding: 5px;
    flex: 1;
    background-color: #fff;
    height: 100%
}

#sidemenu #menu {
    padding: 10px;
}

#sidemenu #filter {
    padding: 10px;
}

#pagecontainer {
    flex: 4;
    background-color: #fff;
    height: 100%;
}

#footer {
    position:absolute;
    height: 100px;
    left:0px;
    bottom:0px;
    background-color: #999999;
}

a {
    text-decoration: none;
}




