#login {
    background-image: url("../images/login.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loginForm {
    padding: 24px;
}

#loginFields {
    display: flex;
    flex-flow: column;
    margin: 12px;
}

.loginField {
    margin: 8px;
}

#loginButtons {
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

#loginCreate {

}

#loginFailed {
    text-align: center;
    color: #F44336 /* red500 */
}
