.singleProject {
    padding: 15px;
    flex: 2;
}

.projectRequirements {
    padding: 15px;
    flex: 3;
}

.all-project-list{
    padding: 15px;
}

.all-project-list table td th {
    border: 1px solid #ddd;
    text-align: left;
}

.all-project-list table {
    width: 100%;
}

.new-project {
    padding: 15px;
}
