.projects-sidemenu {
    flex: none;
    min-width: 200px;
    height: 100%;
}
.project-requirements {
    padding: 15px;
    flex: 3;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
}
.project-card {
    margin: 8px;
    min-width: 150px;
}
.project-card-title {
    padding-bottom: 0;
}
