.all-requirements-list {
    padding: 15px;
}

.all-requirements-list table td th {
    border: 1px solid #ddd;
    text-align: left;
}

.all-requirements-list table {
    width: 100%;
}

.update-requirement {
    padding: 15px;
}
