.form {
    min-width: 296px;
    max-width: 296px;
}
.form-inner123 {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.form-inner-field {

}
.form-inner-field-checkbox {
    margin-top: 40px;
    width: 256px;
}
.form-inner-class {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.table {
    max-width: 1500px;
    min-width: 800px;
    margin: 15px;
}
.form-button {
    margin: 5px 5px 0 15px;
}
