@()


<h1> add category</h1>
<form action="/add-category" method="post">

    <label><b>Category name</b></label><br>
    <input type="text" placeholder="Enter categoryname" name="name" required>

    <br>
    <label><b>Category description</b></label><br>
    <input type="text" placeholder="Enter category description" name="description" required>

    <br>
    <button type="submit">Add category</button>
</form>

<br>
<h1>Add subcategory (parent/child relation)</h1>
<form action="/add-subcategory" method="post">

<label><b>Parent</b></label><br>
<input type="number" name="parent" min="0" required>

<br>
<label><b>Child</b></label><br>
<input type="number" name="child" min="0" required>

<br>
<button type="submit">Add subcategory</button>
</form>