@()


<h1> Sign-up </h1>
<form action="/api/add-requirement" method="post">

    <label><b>ProjectName</b></label><br>
    <input type="text" placeholder="Enter Projectname" name="name" required>

    <br>
    <label><b>description</b></label><br>
    <input type="text" placeholder="Enter description" name="description" required>

    <br>

    <label> <b>Source</b></label><br>
    <input type="text" placeholder="Source" name="source" required>

    <br>
    <label><b>Stimulus</b></label><br>
    <input type="text" placeholder="Strimulus" name="stimulus" required>

    <br>
    <label> <b>Artifact</b></label><br>
    <input type="text" placeholder="Artifact" name="artifact" required>

    <br>
    <label> <b>Response</b></label><br>
    <input type="text" placeholder="Response" name="response" required>

    <br>
    <label> <b>Environment</b></label><br>
    <input type="text" placeholder="Environment" name="environment" required>

    <br>
    <label><b>Public</b></label>
    <input type="checkbox" name="public" >

    <br>
    <button type="submit">Add requirement</button>
</form>
