@()
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
    <div id="loginBackground">
        <div id="loginForm"> 
            <h1> Login </h1>
            <form action="/api/login" method="post">
                <label>Username</label>
                <br>
                <br> <input id="loginUsername" type="text" placeholder="Enter username" name="uname" required>
                <br>

                <br>
                <br><input id="loginPassword" type="password" placeholder="Enter password" name="psw" required>
                <br>


                <br><button id="loginButton" type="submit">Login</button>
            </form>
        </div>
    </div>