@()
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>
    <div class="transparent"></div>
    <div id="loginForm"> 
        <h1> Login </h1>
        <form action="/login" method="post">
            <label>Username</label>
            <br> <input id="loginUsername" type="text" placeholder="Enter Username" name="uname" required>

            <br><label>Password</label>
            <br><input id="loginPassword" type="password" placeholder="Enter password" name="psw" required>

            <br><button id="loginButton" type="submit">Login</button>
        </form>
    </div>
