@()

<h1> NEW PROJECT </h1>
<form action="/api/project/requirement" method="post">
    <label><b>projectid</b></label>
    <input type="text" placeholder="projectid" name="projectid" required>

    <label><b>name</b></label>
    <input type="text" placeholder="Enter name" name="name" required>

    <label><b>ispublic</b></label>
    <input type="text" placeholder="0 or 1" name="ispublic" required>

    <label><b>description</b></label>
    <input type="text" placeholder="Enter desc" name="desc" required>

    <label><b>source</b></label>
    <input type="text" placeholder="Enter source" name="source" required>

    <label><b>stimulus</b></label>
    <input type="text" placeholder="Enter stimulus" name="stimulus" required>

    <label><b>artifact</b></label>
    <input type="text" placeholder="Enter artifact" name="artifact" required>

    <label><b>response</b></label>
    <input type="text" placeholder="Enter response" name="response" required>

    <label><b>responsemeasure</b></label>
    <input type="text" placeholder="Enter responsemeasure" name="responsemeasure" required>

    <label><b>environment</b></label>
    <input type="text" placeholder="Enter environment" name="environment" required>

    <button type="submit">Submit</button>

</form>