@()


<h1> NEW PROJECT </h1>

<form action="/api/project/requirement/add" method="post">
    <label><b>PID</b></label>
    <input type="text" placeholder="PID" name="PID" required>

    <label><b>RID</b></label>
    <input type="text" placeholder="RID" name="RID" required>

    <label><b>reqNo</b></label>
    <input type="text" placeholder="reqNo" name="reqNo" required>

    <label><b>reqCode</b></label>
    <input type="text" placeholder="reqCode" name="reqCode" required>

    <label><b>comment</b></label>
    <input type="text" placeholder="comment" name="comment" required>

    <label><b>Description</b></label>
    <input type="text" placeholder="Description" name="description" required>

    <button type="submit">Submit</button>

</form>